.header {
  font-family: var(--font-heading);
  color: var(--text-primary);
  /* padding: 16px 16px; */
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--bg-panel); */
}
