.sidebar {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  padding: 24px 16px;

  background-color: var(--bg-panel);
  border-right: 1px solid var(--border-subtle);

  font-family: var(--font-ui);
}

.sidebar-section {
  margin-bottom: 28px;
}

.sidebar-section h3 {
  margin: 0 0 10px 8px;

  color: var(--text-primary);
  font-family: var(--font-ui);
  font-size: 24px;
  /* font-weight: 600; */
}

.sidebar-section button {
  width: 100%;

  padding: 10px 12px;
  margin-bottom: 4px;

  border: none;
  border-radius: 6px;

  background: transparent;
  color: var(--text-secondary);

  text-align: left;
  font-family: var(--font-ui);
  font-size: 14px;

  cursor: pointer;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.sidebar-section button:hover {
  background-color: var(--bg-base);
  color: var(--text-primary);
}

.sidebar-section button.active {
  background-color: var(--accent);
  color: white;
}
