.main {
  min-height: 100vh;
  background-color: var(--bg-base);
}

.header {
  height: 74px;
  background-color: var(--bg-panel);
  border-bottom: 1px solid var(--border-subtle);

  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-main {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: calc(100vh - 74px);
}

.panels {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  min-height: calc(100vh - 74px);
}

.panel {
  background-color: var(--bg-panel);
  border-right: 1px solid var(--border-subtle);
  border-bottom: 1px solid var(--border-subtle);

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-primary);
  font-family: var(--font-ui);
  font-size: 24px;
}

.code-panel {
  grid-column: 1;
  grid-row: 1;
}

.visualizer-panel {
  grid-column: 2;
  grid-row: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 16px;
}

.controls-panel {
  grid-column: 1;
  grid-row: 2;
}

.complexity-panel {
  grid-column: 2;
  grid-row: 2;
}
